<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.toxicflame427.opinionator">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/NoActionBar">
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-9027801021996248~3096711406" />

        <activity
            android:name=".ChangeCreditials"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar"
            android:windowSoftInputMode="adjustResize"
            android:exported="true"/>
        <activity
            android:name=".PlayerStats"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar"
            android:exported="true"/>
        <activity
            android:name=".OpinionVoter"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar"
            android:exported="true"/>
        <activity
            android:name=".Home"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar"
            android:exported="true"/>
        <activity
            android:name=".NewAccount"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar"
            android:windowSoftInputMode="adjustResize"
            android:exported="true"/>
        <activity
            android:name=".splash"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar"
            android:windowSoftInputMode="adjustResize" />
    </application>

</manifest>